$color_base: #2980B9;
$color_base_text: #fff;
$color_highlight: #2a94cd;
$color_text: #000;

$color_border:#ccc;
$color_background_box:#eee;
$color_background_normal: #fff;

$color_core: #b98029;
$color_core_text: #fff;
$color_standalone: #29b980;
$color_standalone_text: #fff;
$color_sp: #2a94cd;
$color_sp_text: #fff;
$color_enterprise: #2980B9;
$color_enterprise_text: #fff;

$color_yes: #29b980;
$color_no: #b98029;

$height_menu: 50px;

$font_size:14px;
