$color_base: #2980B9;
$color_base_text: #fff;
$color_highlight: #2a94cd;
$color_text: #000;

$color_border:#ccc;
$color_background_box:#eee;
$color_background_normal: #fff;

$color_community: #b98029;
$color_community_text: #fff;
$color_basic: #29b980;
$color_basic_text: #fff;
$color_advanced: #2a94cd;
$color_advanced_text: #fff;
$color_enterprise: #2980B9;
$color_enterprise_text: #fff;

$color_yes: #29b980;
$color_no: #b98029;

$height_menu: 50px;

$font_size:14px;
